.arrow-to-right {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 10px;
}
.arrow-to-right div {
    position: relative;
    top: 20px;
    width: 90px;
    height: 10px;
    background-color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
    transform: scale(0.7);
}
.arrow-to-right div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    right: -8px;
    background-color: #000;
    transform: rotate(45deg);
}
.arrow-to-right div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    right: -8px;
    background-color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
}
.arrow-to-right:hover {
    animation: arrow-to-right 1s linear infinite;
}
@keyframes arrow-to-right {
    0% {
        left:0;
    }
    50% {
        left:10px;
    }
    100% {
        left:0;
    }
}

// ! ------------------
// ? ------------------
// ! ------------------

.arrow-to-left {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 10px 17.5px 10px 10px;
}
.arrow-to-left div {
    position: relative;
    top: 20px;
    width: 90px;
    height: 10px;
    background-color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    left:0;
    display: block;
    transform: scale(0.7);
}
.arrow-to-left div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    right: 60px;
    background-color: #000;
    transform: rotate(-45deg);
}
.arrow-to-left div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    right: 60px;
    background-color: #000;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(45deg);
}
.arrow-to-left:hover {
    animation: arrow-to-left 1s linear infinite;
}
@keyframes arrow-to-left {
    0% {
        right:0;
    }
    50% {
        right:10px;
    }
    100% {
        right:0;
    }
}