.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 50px;
    border-radius: 10px;
    font-size: 13px;
    letter-spacing: 2.3px;
    color: #fff;
    background-color: black;
    text-shadow: 1px 1px 1px gray;
    &:hover {
        text-decoration: none;
        color: #fff;
    }
}