.promo {
    background: url('../../img/hills.png') 100%/cover;
    height: 777px;
    padding: 20px 75px;
    margin-bottom: 275px;

    &__hello {
        max-width: 600px;
        font-weight: 700;
        text-transform: uppercase;
        text-shadow: 2px 0px 1px #fff;
    }

    &__title {
        font-size: 39.5px;
        margin: 10px 0;
    }

    &__subtitle {
        font-size: 74.5px;
        margin: 10px 0;
    }

    &__descr {
        font-size: 21px;
        margin-bottom: 17.5px;
    }

    &__photo {
        position: absolute;
        top: 100px;
        right: -250px;
        height: 900px;
    }

}